/* Styles main page*/

body{
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

a{
    text-decoration: none;
    color: rgb(182, 181, 181);
}

.logo{
    display: flex;
    align-items: center;
    max-width: 315px;
}

.logo img {
    margin-right: 10px;
    margin-left: 8px;
    min-height: 50px;
}

/* Animacion del nombre de pagina */
.Nombre-pagina {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }
/* Fin de animacion */

/* Diseño para dispositivos moviles */
@media screen and (max-width: 768px) {
    .contenedor{
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 0.1fr 0.1fr 3fr 0.5fr 0.5fr; */
    grid-template-rows: auto minmax(30px,40px) minmax(200px,auto) minmax(50px,auto) minmax(40px,50px);
    }

    .header {
        grid-column: 1/1;
        grid-row: 1/1;
        padding: 0px;
        margin: 0px;
        border: 0px;
        background-color: #03192E;
    }

    /* Hide the links inside the navigation menu (except for logo/home) */
    .topnav #myLinks {
        display: none;
    }
    
    /* Style navigation menu links */
    .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
        position: relative;
        text-align: right;
        padding-right: 30px;
    }
    
    /* Style the hamburger menu */
    .icon {
        /* background: rgb(37, 43, 68); */
        color: white;
        padding: 10px 12px;
        text-decoration: none;
        font-size: 25px;
        margin-right: 5x; 
        position: absolute;
        display: block;
        right: 30px;
        top: 0px;
        margin-top: 22.5px;
    }
    
    /* Add a grey background color on mouse-over */
    a:hover {
        background-color: #ddd;
        color: black;
    }
    
    /* Style the active link (or home/logo) */
    .active {
        background-color: #04AA6D;
        color: white;
    }

    .main {
        grid-column: 1/1;
        border: 5px solid rgb(255, 255, 255);
        grid-row: 3/3;
    }

    .asideizq {
        grid-column: 1/1;
        border: 5px solid rgb(255, 255, 255);
        grid-row: 2/2;
    }

    .asideder {
        grid-column: 1/1;
        border: 5px solid rgb(255, 255, 255);
        grid-row: 4/4;
    }

    .footer {
        grid-column: 1/1;
        border: 5px solid rgb(255, 255, 255);
        grid-row: 5/5;
    }
    
}

/* Diseño para tablets o pc */
@media (min-width: 768px) {
  .contenedor{
        display: grid;
        padding: 0px;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: auto minmax(200px,auto) minmax(50px,60px);
    }
    
    .header {
         display: flex; 
        grid-column: 1/4;
        grid-row: 1/1;
        border: 0px;
        background-color: #03192E;
        color: #FF9B98;
        justify-content: space-between;
        padding: 0px;
        margin: 0px;
    }

    .icon{
        display: none;
    }

    .topnav{
        display: flex;
        align-items: center;
        margin-right: 5px;
    }

    .topnav a{
        padding: 10px;
    }
    
    .main {
        grid-column: 2/2;
        border: 5px solid rgb(255, 255, 255);
        grid-row: 2/2;
    }
    
    .asideizq {
        grid-column: 1/1;
        border: 5px solid rgb(255, 255, 255);
        grid-row: 2/2;
    }
    
    .asideder {
        grid-column: 3/3;
        border: 5px solid rgb(255, 255, 255);
        grid-row: 2/2;
    }
    
    .footer {
        grid-column: 1/4;
        border: 5px solid rgb(255, 255, 255);
        grid-row: 3/3;
    }
}

 




